<div class="container">
  <div class="buttons">
    <button mat-flat-button color="secondary" routerLink="/income/new">Add Income</button>
  </div>
  <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef> Source </th>
      <td mat-cell *matCellDef="let element"> {{element.source }} </td>
    </ng-container>


    <ng-container matColumnDef="monthYear">
      <th mat-header-cell *matHeaderCellDef> Month/Year </th>
      <td mat-cell *matCellDef="let element"> {{formatDate(element.monthYear)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

