<div class="signup_container">
  <img ngSrc="assets/logo.jpeg" priority alt="Logo" height="682" width="1222">
  <mat-card >
    <mat-card-title>Signup</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div class="button">
          <button type="submit" mat-button>Signup</button>
        </div>
        <div class="login">
          Have an account? <a routerLink="/login">Login</a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
