<div class="container">
  <div class="chart_container">
    <div>
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
              [legend]="barChartLegend">
      </canvas>
    </div>
    <div>
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
              [legend]="barChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>
