.container {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.chart_container {
  display: flex;
  gap: 6rem;
}

app-expense-chart {
  flex: 1
}

app-income-chart {
  flex: 1
}

app-goals-chart {
  flex: 1
}
